li {
  list-style: none
}
.App {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1 rem;
}

.container > li {
  border: 1px solid black;
  border-radius: 4px;
  margin: 0.5 rem;
  padding: 0.5rem;
}

.skills {
  display: flex;
}

.skills > li {
  text-align: center;
  margin: 0.5 rem;
  padding: 0.5 rem;
}